.header {
  background: rgb(67 78 129);
  height: 4.5em;
}
.row {
  height: 60px;
}
.icon {
  display: flex;
  justify-content: center;
}
.cart,
.user {
  padding: 20px;
  color: aliceblue;
  width: 20%;
}

.logo {
  padding: 10px;
}
.search {
  display: inline-block;
  position: relative;
  padding-top: 15px;
  height: 100%;
  width: 90%;
}

.logo img {
  width: 80%;
}
input[type="text"] {
  width: 100%;
  height: 50%;
  border-radius: 30px;
  padding-left: 10px;
  border: none;
}
.fa-magnifying-glass {
  position: absolute;

  right: 15px;
  top: 25px;
}
.fa-cart-arrow-down,
.fa-user {
  height: 90%;
}
/* top bar */
.top-menu .nav-bar {
  display: flex;
  margin-bottom: 0px;
}
.top-menu li {
  list-style: none;
}
.top-menu a {
  text-decoration: none;
}
.nav-bar {
  justify-content: center;
  padding-left: 0px;
  justify-content: space-between;
}
.top-menu a {
  color: rgb(253, 251, 251);
}
.top-menu {
  background: rgb(10 20 68);
}
.shoe-style {
  position: relative;
  font-size: large;
  padding: 10px;
  transition: 0.6s;
}
.detail {
  position: absolute;
  visibility: hidden;
  background: rgb(252, 250, 250);
  top: 100%;
  width: 100%;
  padding-left: 0px;
  z-index: 1;
}

.nav-bar > li:hover .detail {
  visibility: visible;
}
.shoe-style:hover {
  background: #0e3166;
}

.detail a {
  color: black;
  font-size: medium;
}
.fa-angle-down {
  color: white;
}
.detail li {
  width: 110%;
  border: 1px solid #c7c7c7;
  background: #ffffff;
  padding-left: 5px;
  border-bottom: 2px solid #c7c7c7;
}
.promotion {
  display: flex;
}
.sale {
  width: 25%;
  padding-right: 20px;
}
.sale img {
  width: 100%;
}
.owl-carousel {
  width: 75%;
}
.title-sale {
  padding-bottom: 15px;
  text-transform: uppercase;
}
.title-sale h2 {
  font-size: 18px;
  border-bottom: 3px solid #000000;
  display: inline;
}
.main {
  padding-top: 30px;
}
.Genuine {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}
.maps {
  text-align: center;
}
.maps a {
  font-size: 14px;
  text-decoration: none;
  color: #0000cd;
}
.name,
.price,
.cost,
.more {
  text-align: center;
}
.name h3 {
  font-size: 14px;
  overflow: hidden;
  height: 30px;
}
.price {
  color: red;
  font-size: 18px;
}
.cost {
  padding-bottom: 5px;
}
.more {
  padding: 10px;
  color: #ffffff;
  background: #eb0606;
}
.owl-dots {
  visibility: hidden;
}
.owl-prev.disabled,
.owl-next {
  width: 0px;
}
.owl-prev span,
.owl-next span {
  width: 30px;
  height: 50px;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #000000;
  color: #000000;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  font-family: -webkit-body;
}
.owl-prev span {
  left: 0;
}
.owl-next span {
  right: 0;
}
.discount {
  position: absolute;
  width: 45px;
  top: 0;
  height: 35px;
  right: 0;
  background: red;
  text-align: center;
  color: #ffffff;
}
.item{
  border: 1px solid #eaeaea;
}
