.main .container{margin-top: 10px;

}

.stream{
    display: flex;
}
.stream div{
    padding-right: 5px;
    font-size: 16px;
    font-weight: 500;
}
.left-box a{
    text-decoration: none;
    color: #000;
}

.slash {
    color: #8a8987;}
    .main {
        padding-top: 130px;
    }
    .stream .name {
        padding: 2px 5px;
        font-size: 13px;
        font-weight: 500;
    }
    .stream a{
        text-decoration: none;
        color: #000;
    }
    .logn,.sea,.hamber{
        height: 100%;
    }
    input[type="text"] {
        height: 70%;
    }
    .swipers{
        position: relative;
        height: 100%;
      }
  
    .swipers {
        width: 45%;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
      }
      .swiper-button-prev:after,.swiper-button-next:after {
        font-size: 25px;
        font-weight: bold;
    }
   
      .swiper {
        width: 100%px;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
      }
  
      .swiper-slide {
        background-size: cover;
        background-position: center;
        width: 415px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .gallery-top {
        width: 100%;
        padding: 10px 0px;
    }
    .gallery-top img{
    padding: 20px;
    width: 75%;
    transition: 0.5s;
    }
  
      .gallery-thumbs {
      height: 100px;
        box-sizing: border-box;
      }
  
      .gallery-thumbs .swiper-slide {
        height: 100%;
        border: 1px solid #bebebe;
        
      }
      .swiper-button-next,.swiper-button-prev  {
        color: #000000;
        border: 2px solid #000000;
        width: 30px;
        height: 50px;
        background: #ededed;
        transition: 0.5s;
    }
      
      .gallery-thumbs img{
          width: 80%;
          padding: 5px;
          transition: 0.5s;
          height: 100%;
      }
    
      .swiper-button-white:hover{
        background: #4c4a4a;
        color: #fff;
      }
      .gallery-top .swiper-slide>img:hover{
          padding: 0;
      }
      .gallery-thumbs .swiper-slide>img:hover{
        padding: 0;
    }
    .gallery-thumbs .swiper-slide:hover{
        border: 1px solid rgb(12, 12, 12);
    }
    .main-content{
        display: flex;
    }
    .code{
        font-size: 14px;
    font-style: italic;
    display: inline-block;
    margin-bottom: 10px;
    }
    .information{
        padding-left: 20px;
        padding-top: 20px;
    }
    .information h1{
        font-size: 20px;
    }
    .cost {
        color: #5e5b5b;
    }
    .price {
        font-size: 20px;
        padding-bottom: 0;
    }
    .price ,.cost{
        text-align: left;
        padding-left: 0;
        font-weight: 700;
    }
    .boxs .row{
        padding-left: 20px;
    padding-top: 20px;
    height: fit-content;
    }
    .size,.amounts{
        font-size: 18px;
    font-weight: 500;
    }
    .sizes{
        display: flex;
        margin-top: 5px;
    }
    .value,.deduction,.add,.amount {
        border: 1px solid #a1a1a1;
        height: 35px;
        margin-right: 20px;
        display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    transition: 0.2s;
    }
    .value:hover{
        border: 2px solid #d44c0a;
    }
    .pick-amount{
        display: flex;
        margin-top: 10px;
    }
    .value,.deduction,.add{
        width: 30px;
    }
    .amount{
        width: 40px;
        font-size: 18px;
    }
    .amounts{
        margin-top: 15px;
    }
    .deduction,.add{
        font-size: 25px;
    }
    .pick-amount>div:hover{
        border: 2px solid #d44c0a;
    }
    .buying .btn-primary {
        padding: 0;
margin-top: 40px;   
width: 100%;
border-color: #ffffff; }
    .buy{
        border: 1px solid #d44c0a;
    padding: 10px 0px;
    text-align: center;
    color: white;
    background: #f32424;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.6s;
    }
    .buy:hover{
        background:rgb(162 4 4) ;
    }
    .left-box{
        padding-left: 0px;
        border-right: 1px solid #bcb8b8d1;
    }
    .item-policy img{
        width: 50px;
    height: 50px;
    }
    .item-policy{
        display: flex;
    }
    .item-policy h5 {
        font-size: 16px;
    }
    .info-left {
        margin-left: 20px;
    }
    .one img{
        height: 32px;
    }
    .addresss{
        font-weight: 500;
        padding-left: 20px;
        font-size: 18px;
    padding-top: 20px
    }
    .title_chir {
        border-bottom: 2px solid #000000;
    padding-top: 20px;
    margin-bottom: 15px;
    font-weight: 400;
    display: inline-block;
    margin-top: 20px
    }
    .title_chir h2{
        font-size: 24px;
    }
    iframe {
        width: 57%;
        height: 360px;
    }
    .content-video p{
        text-align: center;
    }
    .content-video{
        padding: 10px;
    }
    .client{
        font-size: 18px;
        text-align: center;
        color: #d0820c;
        margin-bottom: 15px;
    }
    .img-client div{
        width: 50%;
        
    }
    .img-client{
        display: flex;
        flex-wrap: wrap;
        width: 57%;
        margin-left: 22%;
    }
    .img-client img{
        width: 100%;
    }
        .header-cmt {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: 500;
            border-bottom: 1px solid #9a9999;
    padding-left: 20px;
        }
        .avt {
            width: 80px;
            height: 60px;
        }
        .avt img {
            width: 100%;
        }
        .list-cmt {
            margin-top: 30px;
            padding-left: 20px;
        }
    .cmt li{
        list-style: none;
    }
    .users {
        display: flex;
        
            padding-top: 10px;
        
    }
    .cmt{
        margin-top: 30px;
    border: 1px solid #6e6e6e;
    padding-top: 20px
    }
    .result {
        margin-left: 15px;
    }
    .name-user ,.name-owner{
        font-weight: 600;
        font-size: 18px;
        color: #365899;
    }
    .result-cmt {
        font-weight: 400;
        padding-top: 5px
    }
    .Interactive{
        display: flex;
        margin-top: 10px;
    }
    .Interactive div{
        padding-right: 10px;
        font-size: 14px;
    }
.rep{
    padding-right: 5px !important;
}
.list-rep {
    margin-top: 15px;
}
.owner {
    display: flex;
}
.replies,.time-rep {
    color: #797979;
}
.like,.rep{
    color: #4267b2;
    transition: 0.2s;
    font-weight: 500;
}
    .like:hover,.rep:hover{
        color: #000;
    }
    .comment-info-inputText {
        margin-top: 30px;
        padding-top: 20px;
        border: 1px solid #9a9999;
    }
    .comment-info-inputText{
        margin-top: 30px;
    }
    .comment-info-inputText  h3 {
        font-size: 18px;
        padding-left: 20px;
    }
    textarea#commentText {
        padding-left: 20px;
    }
    .log-in{
        margin-bottom: 20px;
        margin-top: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid #9a9999;
    font-size: 18px;
    font-weight: 500;
    background: #2991ebd6;
    color: #000;
    display: inline-block;
    transition: 0.5s;
    }
    .log-in:hover{
        background: #00256d;
    color: #fff;

    }
    .map iframe {
        width: 100%;
        height: 10%;
    }
    .end .container {
        margin-top: 0px;
    }
    @media (max-width:1024px){
        .stream>div:nth-child(1){
            width: 15%;}
    .stream>div:nth-child(3){
                width: 42%;}
                .stream .name {
                    text-align: initial;
                }
                .information h1 {
                    font-size: 16px;
                }
                .swiper{
                    height: 254px;
                }
                .gallery-thumbs .swiper-slide {
                    height: 30%;
                }
                .right-box {
                    position: absolute;
                    right: 0;
                    padding-left: 20px;
                    top: -89px;
                }
                .boxs .row{
                    position: relative;
                }
                .one img {
                    height: 32px !important;
                }
                .item-policy img {
                    width: 40px;
                    height: 40px;
                }
                .item-policy h5,.policy p {
                    font-size: 14px;
                }
                .addresss{
                    font-size: 16px;
                }
                .title_chir {
                    padding-top: 0px; 
                     margin-top: 0px; 
                }
                .title_chir h2 {
                    font-size: 18px;
                }
                .content-video iframe {
                    width: 65%;
                    height: 250px;
                }
                .contact{
                    padding-top: 0px;
                }
                footer.footer {
                    justify-content: center;
                }
                .gallery-thumbs img {
                    width: 85%;
                    height: 80%;
                }
    }
    @media (max-width:768px){
        .right-box {
            right: -12px;
            top: -37px;
        }
        .code {
            margin-bottom: 0px;
            font-size: 12px;
        }
        .boxs .row {
            padding-top: 5px;
        }
        .size, .amounts {
            font-size: 16px;
        }
        .value, .deduction, .add {
            width: 30px;
            height: 30px;
            font-size: 14px;
        }
        .info-left {
            margin-left: 15px;
            margin-bottom: 5px;
        }
        .addresss {
            font-size: 14px;
            padding-top: 40px;
        }
        .amount {
            width: 35px;
            font-size: 16px;
            height: 30px;
        }
        .item-policy img {
            width: 30px;
            height: 30px;
        }
        .item-policy h5, .policy p {
            font-size: 12px;
            margin-bottom: 0px;
        }
        .item-policy {
            padding: 5px 0px;
        }
        .img-client{
            padding: 15px;
        }
        .client{
            margin-bottom: 5px;
        }
        .header-cmt{
            padding-bottom: 10px;
        }
        .cmt{
            padding-top: 10px;
        }
        .list-cmt {
            margin-top: 10px;
        }
        textarea#commentText {
            height: 150px;
        }
        .comment-info-inputText {
            padding-top: 10px;
        }
        .fi-content ul {
            max-height: 252px;
            overflow: auto;
        }
    }
    @media (max-width:576px){

        .main-content{
            display: block;
        }
        .stream {
            display: none;
        }
        .swipers {
            width: 100%;
        }
        .gallery-top {
            height: 283px;
        }
        .gallery-thumbs img {
            width: 100%;
            height: 80%;
        }
        .information h1 {
            font-size: 16px;
        }
        .boxs .row{
            padding-top: 5px;
        }
        .size, .amounts {
            font-size: 16px;
        }
        .amount {
            font-size: 16px;
        }
        .deduction, .add {
            font-size: 20px;
        }
        .buying .btn-primary{
            margin:20px 0px;
            width: 90%;
        }
        .buying{
            text-align: center;
        }
        .gallery-thumbs{
            height: fit-content;
        }
        .right-box {
            right: 7px;
            top: -30px;
            width: fit-content;
            padding-right: 0;
        }
        .info-left {
            margin-left: 8px;
            margin-bottom: 5px;
        }
        .price {
            font-size: 18px;
        }
        .size, .amounts {
            font-size: 14px;
        }
        .value, .deduction, .add, .amount {
            margin-right: 10px;
        }
        .item-policy h5, .policy p {
            font-size: 11px;
        }
        .left-box {
            border-right: 0px solid #bcb8b8d1;
        }
        .addresss{
            display: none;
        }
        .content-video iframe {
            width: 100%;
            height: 170px;
        }
        .client {
            font-size: 16px;
        }
        .cmt {
            margin-top: 10px;
        }
        .header-cmt{
            font-size: 14px;
        }
        .name-user, .name-owner {
            font-weight: 500;
            font-size: 14px;
        }
        .result-cmt {
            font-weight: 500;
            font-size: 12px;
        }
        .Interactive div {
            font-size: 12px;
        }
        .result {
            margin-left: 10px;
        }
        .comment-info-inputText h3 {
            font-size: 14px;
        }
        textarea#commentText {
            height: 100px;
            font-size: 12px;
        }
        .log-in{
            font-size: 14px;
        }
        .logn {
            height: 70%;
        }
        .fi-content ul {
            max-height: 128px;
            overflow: auto;
        }
        .map iframe {
            height: 50%;
        }
    }